// Font Sizes
$base-font-size: 10px;
$em-base: $base-font-size;
$base-font-family: 'Arial', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.1;
$heading-line-height: 1;

// Colors
$blue: #076e9f;
$light-blue: #22aaec;
$gray: #5c5c5c;
$gray-light: #ddd;

// Font Colors
$base-font-color: $gray;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;


